.gallery-container {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.gallery-item {
  position: relative;
  flex-basis: calc(25% - 20px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 150px;
}

@media (max-width: 768px) {
  .gallery-item {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .gallery-item {
    flex-basis: calc(100% - 20px);
  }
}

.gallery-item img {
  width: 100%;
  display: block;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.delete-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(178, 39, 39, 0.8);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: rgba(255, 0, 0, 0.8);
}
